.wa-center {
  margin-inline: auto;
}

.wa-mt-4 {
  margin-block-start: var(--wa-space-4);
}

.wa-mb-4 {
  margin-block-end: var(--wa-space-4);
}

.wa-p-4 {
  padding: var(--wa-space-4);
}

.wa-space-6 {
  gap: var(--wa-space-6);
}

