:root {
  --wa-iro-sakura: #e8b7bd;
  --wa-iro-sumi: #23201f;
  --wa-iro-ai: #244765;
  --wa-iro-matcha: #74855f;
  --wa-iro-kurenai: #9f2d35;
  --wa-iro-yamabuki: #d6a23a;
  --wa-iro-gofun: #fbfaf4;
  --wa-iro-kinari: #f4efe3;
  --wa-iro-nezumi: #74706c;
  --wa-iro-usuzumi: #d8d3ca;
}

