.wa-frame {
  aspect-ratio: var(--wa-frame-ratio, 4 / 3);
  border: 1px solid var(--wa-color-border);
  display: block;
  overflow: hidden;
}

.wa-frame > img,
.wa-frame > video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

